body {
    padding-top: 30px;
    background-color:#FFF056;
    color: #191919;
}
.mainTable {
    display: flex;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #DFE2DB;
    color: #191919;
    border: 3px black;
}
.done {
    color: #565656;
}
td {
    width: 150px;
}